.map-container {
    height: 100vh;
}

.map-overlay{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width: 20%;
    height: 50%;
    position: fixed;
    bottom: 5px;
    right: 5px;
    background-color: rgba(255,255,255,0.7);
}
.map-overlay-layers{
    display:flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: stretch;
    justify-self: stretch;
    align-items: flex-start;
}

.map-overlay-layers h2{
    align-self: center
}

.map-overlay-icon{
    width: 5vh;
}

.map-overlay-nav{
    align-self: center;
    order:99;
    bottom: 0px;
}

.map-menu{
    width: 20%
}